
.background-parallax1{
    background-image: url('../img/ue3/parallax/Imagem\ 1.png');
  }
  .background-parallax2 {
    background-image: url('../img/ue3/parallax/Imagem\ 2.png');
  }
  .background-parallax3 {
    background-image: url('../img/ue3/parallax/Imagem\ 3.png');
  }
  .background-parallax4 {
    background-image: url('../img/ue3/parallax/Imagem\ 4.png');
  }
  
  