.background-parallax1{
    background-image: url('../img/ue8/parallax/Imagem\ 1.png');
  }

  .background-parallax2{
    background-image: url('../img/ue8/parallax/Imagem\ 2.png');
  }

#modifyP{
    font-size: 18px;
    font-style: italic; 
}